%h1 Listing predictions

%table
  %tr
    %th Name
    %th End date
    %th Prediction
    %th Source
    %th Verified by
    %th
    %th
    %th

  - @predictions.each do |prediction|
    %tr
      %td= prediction.name
      %td= prediction.end_date
      %td= prediction.prediction
      %td= prediction.source
      %td= prediction.verified_by
      %td= link_to 'Show', prediction
      %td= link_to 'Edit', edit_prediction_path(prediction)
      %td= link_to 'Destroy', prediction, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Prediction', new_prediction_path
