= form_for @buy do |f|
  - if @buy.errors.any?
    #error_explanation
      %h2= "#{pluralize(@buy.errors.count, "error")} prohibited this buy from being saved:"
      %ul
        - @buy.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :price
    = f.text_field :price
    = f.hidden_field :prediction_id, :value => @prediction.id
  .actions
    = f.submit 'Save'
