%p#notice= notice

%p
  %b Price:
  = @buy.price
%p
  %b User:
  = @buy.user_id
%p
  %b Prediction:
  = @buy.prediction_id

= link_to 'Edit', edit_buy_path(@buy)
\|
= link_to 'Back', prediction_path(@buy.prediction_id)
