= form_for @sell do |f|
  - if @sell.errors.any?
    #error_explanation
      %h2= "#{pluralize(@sell.errors.count, "error")} prohibited this sell from being saved:"
      %ul
        - @sell.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label :number_of_shares
    = f.text_field :number_of_shares
  .field
    = f.label :price
    = f.number_field :price
  = f.hidden_field :prediction_id, :value => @prediction.id
  .actions
    = f.submit 'Save'
